<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Libre Baskerville'>

  <title>{{ title }} </title>
</head>

<body>
  <header>
    <h1>Leondale Library</h1>
    <nav>
      <ul>
        <li class="navLink"><a href="/books">Home</a></li>
      </ul>
    </nav>
  </header>
  <hr>

      {% block content %}
      {% endblock %}
  
  <hr>
  
  <footer>
    <p><strong> Leondale Library &copy; 2023 Bartram</strong></p>
  </footer>
</body>

</html>