{% extends "base.jinja" %}

{% block content %}
<h3 class="sub_heading">Book Details</h3>

<div class="book">
    <ul>
        <li>
            {{book.title}}
        </li>
        <li>
            {{book.author}}
        </li>
        <li>
            {{book.genre}}
        </li>
    </ul>

    {% if book.checked_out %}
    <p><i>Checked out</i></p>
    {% endif %}

</div>

{% endblock %}